body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#1e173a ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    background-color: rgb(160, 157, 213);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    text-align: center;
    width: 300px;
}

img {
    border-radius: 50%;
    object-fit: cover;
}

.socials {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.socials a:hover {
    color: #0077b5; /* or any accent color */
    transform: scale(1.1);
    transition: 0.3s;
}

.socials a {
    margin: 0 12px;
}

.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
}